In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import time
import numpy as np

import pymysql 
import sqlalchemy

from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base

In [3]:
df1 = pd.read_csv("../preprocesado/meneame_procesado_1.csv", encoding="utf-8")
df2 = pd.read_csv("../preprocesado/meneame_procesado_2.csv", encoding="utf-8")
df3 = pd.read_csv("../preprocesado/meneame_procesado_3.csv", encoding="utf-8")

In [4]:
df = pd.concat([df1,df2,df3], ignore_index=True)

In [27]:
df

,news_id,title,content,full_story_link,meneos,clicks,karma,positive_votes,anonymous_votes,negative_votes,...,user,source,source_link,provincia,comunidad,scraped_date,user_id,source_id,provincia_id,category_id
0,4029771,"Luigi Mangione, acusado de asesinar al CEO de ...",“Estoy abrumado y agradecido por todos los que...,https://meneame.net/story/luigi-mangione-acusa...,53,139,345,29,24,0,...,Verdaderofalso,infobae.com,https://www.infobae.com/estados-unidos/2025/02...,Desconocido,Desconocido,2025-02-19,1,1,0,1
1,4029544,La propaganda en la educación japonesa durante...,La historia de Japón es la historia de una nac...,https://meneame.net/story/propaganda-educacion...,40,537,362,26,14,0,...,Charles_Dexter_Ward,newsletter.mapasmilhaud.com,https://newsletter.mapasmilhaud.com/p/propagan...,Desconocido,Desconocido,2025-02-19,2,2,0,2
2,4029786,El CEO multimillonario de Palantir no puede de...,"Alex Karp, el inquietante CEO de la inquietant...",https://meneame.net/story/ceo-multimillonario-...,104,328,398,52,52,1,...,Verdaderofalso,es.gizmodo.com,https://es.gizmodo.com/el-ceo-multimillonario-...,Desconocido,Desconocido,2025-02-19,1,3,0,1
3,4029797,El creador de $LIBRA alardeaba “controlar” a J...,Uno de los mensajes a los que tuvo acceso LA N...,https://meneame.net/story/creador-libra-alarde...,103,418,446,53,50,0,...,Suikoden,lanacion.com.ar,https://www.lanacion.com.ar/politica/escandalo...,Desconocido,Desconocido,2025-02-19,3,4,0,3
4,4029611,Uso de CRISPR para eliminar cromosomas adicion...,Las técnicas de edición genética podrían permi...,https://meneame.net/story/uso-crispr-eliminar-...,66,189,387,37,29,0,...,onainigo,eurekalert.org,https://www.eurekalert.org/news-releases/1073061,Desconocido,Desconocido,2025-02-19,4,5,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
287186,6,Instalar Linux en iPod Mini | GPL Tarragona,Enseña a instalar Linux en el iPod Mini.\n\nMu...,https://meneame.net/story/instalar-linux-en-ip...,29,0,31,29,0,0,...,asappla,gpltarragona.org,http://www.gpltarragona.org/node/view/395,Tarragona,Cataluña,2025-02-19,20184,30979,46,4
287187,4,Entrevista de El Mundo a Jose Antonio Marina,2. ¿Es la ética la filosofía del futuro?\nSi. ...,https://meneame.net/story/entrevista-de-el-mun...,18,0,22,18,0,0,...,gabrielperezs,el-mundo.es,http://www.el-mundo.es/encuentros/invitados/20...,Desconocido,Desconocido,2025-02-19,11528,22224,0,1
287188,3,Prova xfce 4.2.3!,Ara que els de repositoris de totes les distri...,https://meneame.net/story/prova-xfce-423,34,0,13,34,0,0,...,paurullan,xfce.org,http://www.xfce.org/release_notes/4.2.3.1_chan...,Desconocido,Desconocido,2025-02-19,25499,6520,0,1
287189,2,Los 84 errores de noxtrum,"Pues sí, noxtrum, el buscador de TPI y Telefón...",https://meneame.net/story/los-84-errores-de-no...,61,0,11,61,0,0,...,FrIkI,pacoros.net,http://www.pacoros.net/diario/2005/12/07/los-8...,Desconocido,Desconocido,2025-02-19,19200,30422,0,1
287190,1,Ésta es la primera noticia meneada,"Pues sí, a las 5 de la mañana he acabado de su...",https://meneame.net/story/esta-primera-noticia...,246,0,11,246,0,0,...,gallir,mnm.uib.es,http://mnm.uib.es/gallir/meneame,Desconocido,Desconocido,2025-02-19,3750,25650,0,1

In [9]:
#asignando id a cada columna para poder organizar base de datos
df['user_id'] = pd.factorize(df['user'])[0] + 1
df['source_id'] = pd.factorize(df['source'])[0] + 1
df['provincia_id'] = pd.factorize(df['provincia'])[0] + 1
df['category_id'] = pd.factorize(df['category'])[0] + 1

In [11]:
df_user = df[["user_id", "user"]].drop_duplicates()

df_source = df[["source_id", "source"]].drop_duplicates()

df_category = df[["category_id", "category"]].drop_duplicates()

df_location = df[["provincia_id", "provincia", "comunidad"]].drop_duplicates("provincia_id").dropna()

df_news = df[["news_id", "title", "content", "meneos", "clicks", "karma", "positive_votes", 
                 "anonymous_votes", "negative_votes", "comments", "published_date", "source_link", 
                "scraped_date", "user_id", "source_id", "category_id", "provincia_id"]].drop_duplicates()

In [25]:
df['provincia'] = df['provincia'].fillna('Desconocido')
df['comunidad'] = df['comunidad'].fillna('Desconocido')

In [39]:
import pymysql

user = "root"
password = "password123"
host = "localhost"

connection = pymysql.connect(host=host, user=user, password=password)
cursor = connection.cursor()

cursor.execute("CREATE DATABASE IF NOT EXISTS meneame;")

connection.select_db("meneame")

sql_schema = """
CREATE TABLE IF NOT EXISTS user_table (
	user_id INT PRIMARY KEY NOT NULL,
    user VARCHAR(50) NOT NULL
);

CREATE TABLE IF NOT EXISTS category_table (
	category_id INT PRIMARY KEY,
	category VARCHAR(50) 
);

CREATE TABLE IF NOT EXISTS source_table (
    source_id BIGINT PRIMARY KEY,
    source VARCHAR(255)  
);

CREATE TABLE IF NOT EXISTS location_table (
	provincia_id INT PRIMARY KEY,
	provincia VARCHAR (50),
    comunidad VARCHAR (50)
);

CREATE TABLE IF NOT EXISTS news_info_table (
	news_id BIGINT PRIMARY KEY,
    title TEXT,
    content TEXT,
    category_id INT,
    meneos INT,
    clicks INT,
    karma INT,
    positive_votes INT,
    anonymous_votes INT,
    negative_votes INT,
	comments INT,
    published_date DATETIME,
    scraped_date DATETIME,
    user_id INT,
    source_id BIGINT,
	source_link TEXT,
	provincia_id INT,
    FOREIGN KEY (category_id) REFERENCES category_table(category_id),
	FOREIGN KEY (user_id) REFERENCES user_table(user_id),
	FOREIGN KEY (provincia_id) REFERENCES location_table(provincia_id),
	FOREIGN KEY (source_id) REFERENCES source_table(source_id)
);
"""

for statement in sql_schema.split(";"):
    if statement.strip():
        cursor.execute(statement)

connection.commit()
cursor.close()
connection.close()

In [41]:
database = "meneame"

engine = create_engine(f"mysql+pymysql://{user}:{password}@localhost/{database}")

connection = engine.connect()

#connection.close()

In [43]:
df_user

        user_id                 user
0             1       Verdaderofalso
1             2  Charles_Dexter_Ward
3             3             Suikoden
4             4             onainigo
5             5               Cehona
...         ...                  ...
287112    25671               kilior
287115    25672            chrysalis
287154    25673              --104--
287167    25674                 Hola
287185    25675            el.besugo

[25675 rows x 2 columns]

In [45]:
df_user.to_sql(name="user_table", con=engine, if_exists="append", index=False)

25675

In [47]:
df_source.to_sql(name="source_table", con=engine, if_exists="append", index=False)

31102

In [51]:
df_category

        category_id                                           category
0                 1                                     ['Miscelaneo']
1                 2                                      ['Educación']
3                 3                      ['Entretenimiento y Cultura']
7                 4                           ['Tecnología y Ciencia']
11                5                                     ['Transporte']
...             ...                                                ...
257724          261  ['Geopolítica y Sociedad', 'Tecnología y Cienc...
265047          262  ['Tecnología y Ciencia', 'Entretenimiento y Cu...
266555          263  ['Salud y Medicina', 'Entretenimiento y Cultur...
274821          264  ['Salud y Medicina', 'Medioambiente y Energía'...
279822          265  ['Tecnología y Ciencia', 'Humor y Memes', 'Cri...

[265 rows x 2 columns]

In [49]:
df_category.to_sql(name="category_table", con=engine, if_exists="append", index=False)

DataError: (pymysql.err.DataError) (1406, "Data too long for column 'category' at row 9")
[SQL: INSERT INTO category_table (category_id, category) VALUES (%(category_id)s, %(category)s)]
[parameters: [{'category_id': 1, 'category': "['Miscelaneo']"}, {'category_id': 2, 'category': "['Educación']"}, {'category_id': 3, 'category': "['Entretenimiento y Cultura']"}, {'category_id': 4, 'category': "['Tecnología y Ciencia']"}, {'category_id': 5, 'category': "['Transporte']"}, {'category_id': 6, 'category': "['Medioambiente y Energía']"}, {'category_id': 7, 'category': "['Negocios y Economía']"}, {'category_id': 8, 'category': "['Geopolítica y Sociedad']"}  ... displaying 10 of 265 total bound parameter sets ...  {'category_id': 264, 'category': "['Salud y Medicina', 'Medioambiente y Energía', 'Educación', 'Cuestiones Sociales']"}, {'category_id': 265, 'category': "['Tecnología y Ciencia', 'Humor y Memes', 'Crimen']"}]]
(Background on this error at: https://sqlalche.me/e/20/9h9h)

In [35]:
df_location.to_sql(name="location_table", con=engine, if_exists="append", index=False)
df_news.to_sql(name="news_info_table", con=engine, if_exists="append", index=False)

DataError: (pymysql.err.DataError) (1406, "Data too long for column 'category' at row 9")
[SQL: INSERT INTO category_table (category_id, category) VALUES (%(category_id)s, %(category)s)]
[parameters: [{'category_id': 1, 'category': "['Miscelaneo']"}, {'category_id': 2, 'category': "['Educación']"}, {'category_id': 3, 'category': "['Entretenimiento y Cultura']"}, {'category_id': 4, 'category': "['Tecnología y Ciencia']"}, {'category_id': 5, 'category': "['Transporte']"}, {'category_id': 6, 'category': "['Medioambiente y Energía']"}, {'category_id': 7, 'category': "['Negocios y Economía']"}, {'category_id': 8, 'category': "['Geopolítica y Sociedad']"}  ... displaying 10 of 265 total bound parameter sets ...  {'category_id': 264, 'category': "['Salud y Medicina', 'Medioambiente y Energía', 'Educación', 'Cuestiones Sociales']"}, {'category_id': 265, 'category': "['Tecnología y Ciencia', 'Humor y Memes', 'Crimen']"}]]
(Background on this error at: https://sqlalche.me/e/20/9h9h)

In [174]:
df_category

        category_id                   category
0                 1                 Miscelaneo
1449              2  Entretenimiento y Cultura
15543             3        Politica y Sociedad
129356            4       Tecnologia y Ciencia
135188            5     Historia y Humanidades
135239            6   Noticias Internacionales
135350            7    Medioambiente y Energia
135780            8                 Transporte
137071            9        Cuestiones Sociales
137145           10           Salud y Medicina
138811           11              Humor y Memes
139742           12        Negocios y Economia
140337           13                   Deportes
140376           14                  Educacion
178533           15        Conflictos y Guerra
185648           16                     Crimen